[submodule "libs/jspp-parser"]
	path = libs/jspp-parser
	url = https://gitlab.com/onux/jspp/parser.git
[submodule "libs/jspp-common"]
	path = libs/common
	url = https://gitlab.com/onux/jspp/common.git
[submodule "libs/jspp-symbol-table"]
	path = libs/symbol-table
	url = https://gitlab.com/onux/jspp/symbol-table.git
[submodule "libs/libs-catch"]
	path = libs/libs-catch
	url = https://gitlab.com/onux/jspp/libs.catch.git
[submodule "libs/pcre"]
	path = libs/pcre
	url = https://github.com/svn2github/pcre.git
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://gitlab.com/onux/jspp/libs.pugixml.git
[submodule "libs/sundown"]
	path = libs/sundown
	url = git@gitlab.com:onux/jspp/libs.sundown.git
